.sectionTrack {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fafaf5;
  padding: 1rem;
}

.sectionCard {
  height: 100%;
  width: 30vw;
  margin: 35px 32px;
}

.sectionCard > h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}

/* .sectionCard p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
} */

.sectionCardHeader {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8739fa;
}

.sectionReadMoreButton {
  color: rgba(135, 57, 250, 1);
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8739fa;
  border: 1px solid #8739fa;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s, background-color 0.5s, color;
  cursor: pointer;
}

.sectionReadMoreButton:hover {
  color: #fff;
  background: #8739fa;
}

.nextImgWrapper {
  margin: 1rem 0;
}

@media only screen and (max-width: 600px) {
  .nextImgWrapper {
    display: none;
  }

  .sectionCard {
    width: 100%;
  }
}
