.sectionTrack {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #cf5931;
}

.sectionCard {
  height: 100%;
  width: 30vw;
  margin: 35px 32px;
}

.sectionCard p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.sectionCard a {
  padding: 10px 30px;
  border-radius: 4px;
  background: #fff;
  color: #000;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .nextImgWrapper {
    display: none;
  }

  .sectionCard {
    width: 100%;
  }
}
