.footerTemplate {
  position: relative;
  width: 100vw;
  height: 150px;
  background: #53337F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribeFooter {
  position: absolute;
  right: 0;
  font-size: 14px;
}

.subscribeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.mediaWrapper svg {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .footerTemplate {
    height: 200px;
  }

  .subscribeFooter {
    margin-top: 20px;
    position: block;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    width: 100%;
  }

  .mediaWrapper{
    margin-left: 20px;
  }
}
