.subscribeTemplateContainer {
  /* background-image: url('/images/bg.png'); */
  /* background-size: auto; */
  background: #fff;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  color: black;
}

.subscribeHeader {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}

/* .subscribeHeaderLabel {
  font-size: 24px;
  font-weight: 800;
} */

.subscribeHeader > div {
  display: flex;
}

.navLink {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  cursor: pointer;
}

.navLink + .navLink {
  margin-left: 10px;
}

.mainContent {
  margin-top: 90px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  max-width: 725px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightSide {
  /* background: lightcoral; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  transition: 200ms color ease-in-out;
}

.mediaWrapper:hover {
  opacity: 0.5;
}

.mediaWrapper svg {
  margin-right: 10px;
}

.joinWrapper p {
  text-align: center;
}

.joinWrapper button {
  margin-left: 15px;
}

.button {
  background: #ff3b30;
  color: white;
  border: none;
  border-radius: 5px;
  width: 215px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: 200ms ease-in;
}

.button:hover {
  background: rgba(255, 59, 48, 0.8);
  color: white;
}

.buttonGroup {
  display: flex;
}

.input {
  width: 300px;
  height: 50px;
  background: rgba(217, 217, 217, 0.25);
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
}

.subscribeFooter {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 35px 95px;
}

.counterWrapper {
  margin: 100px 0;
  height: 209px;
  width: 100%;
  max-width: 725px;
  background: #f2f2f2;
  border-radius: 10px;
  /* border: 1px solid #000000; */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counterWrapper h2 {
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: 40px;
  margin-bottom: -20px;

  color: #000;
}

.counterWrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterNumberDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counterNumber,
.counterWrapper span {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  margin: 0;

  color: #53337f;
}

.counterWrapper span {
  margin: -40px 10px 0 10px;
}

.counterName {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-top: -20px;

  color: #002868;
}

.causeText h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.causeText p {
  font-family: Nunito Sans;
  font-size: 26px;
  font-weight: 600;
  color: #9a9a9a;
}

.mediasWrapper {
  display: flex;
  color: #000;
}

.donateButton {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.donateButton:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.donateButton:focus {
  outline: none;
}


.requestButton {
  color: rgba(135, 57, 250, 1);
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8739fa;
  border: 1px solid #8739fa;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s, background-color 0.5s, color;
  cursor: pointer;
}

.requestButton:hover {
  color: #fff;
  background: #8739fa;
}

@media only screen and (max-width: 769px) {
  .subscribeHeader {
    justify-content: center;
  }

  .mainContent {
    padding: 20px;
  }

  .joinWrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subscribeHeader > div {
    display: none;
  }

  .counterWrapper {
    margin-top: 50px;
    height: 180px;
    max-width: 90vw;
  }

  .counterWrapper h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .counterNumber,
  .counterWrapper span {
    font-size: 28px;
  }

  .counterWrapper span {
    margin: -40px 5px 0 5px;
  }

  .counterName {
    font-size: 16px;
    margin-top: 0px;
  }

  .subscribeHeader {
    padding: 35px;
  }

  .causeText h2 {
    font-size: 28px;
    line-height: normal;
  }

  .causeText p {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .donateButton {
    padding: 8px 24px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 1rem;
  }

  .rightSide {
    display: none;
  }

  .buttonGroup {
    display: flex;
    flex-direction: column;
  }

  .mediasWrapper {
    display: flex !important;
    color: #000;
  }
}
