.testimonialsTemplate {
  background: #FAFAFA;
  padding: 20px 0 100px 0;
}

.testimonialsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonialCard {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name, .role {
  color: #9A9A9A;
  margin: 0;
}

.name {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}

.testimonial {
  color: #333333;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .testimonialsWrapper {
    flex-direction: column;
  }

  .testimonialCard {
    max-width: 80vw;
  }
}